<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [2]:
cd C:\Users\Ann\Desktop\GA_DataScience\unit2_project-master\data

C:\Users\Ann\Desktop\GA_DataScience\unit2_project-master\data

In [5]:
# To use csv.reader, we must import the csv module
import csv

# The csv.reader has a delimeter parameter, which we set to '\t' to indicate that the file is tab-separated
with open('chipotle.tsv', mode='rU') as f:   # We temporarily refer to the file by the variable name f for file
    file_nested_list = [row for row in csv.reader(f, delimiter='\t')]   # Create a list by looping through each line in f

C:\Users\Ann\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: 'U' mode is deprecated
  """

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [11]:
header = file_nested_list[0]
data = file_nested_list[1:]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [14]:
print(header)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [15]:
print(data[4])

['2', '2', 'Chicken Bowl', '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]', '$16.98 ']

In [18]:
print(data[5])

['3', '1', 'Chicken Bowl', '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]', '$10.98 ']

In [19]:
prices = [row[4] for row in data]
prices[0:5]

['$2.39 ', '$3.39 ', '$3.39 ', '$2.39 ', '$16.98 ']

In [21]:
type(prices[0])

str

In [23]:
#to make the string into float
#remove dollar sign through slicing
#
prices = [row[4][1:] for row in data]
prices[0:5]

['2.39 ', '3.39 ', '3.39 ', '2.39 ', '16.98 ']

In [25]:
prices = [float(row[4][1:]) for row in data]
print(prices[0:5])
print(type(prices[0]))

[2.39, 3.39, 3.39, 2.39, 16.98]
<class 'float'>

In [39]:
total_order_sum = sum([float(row[4][1:]) for row in data])
num_orders = len(set([row[0] for row in data]))
average_order_price = round(total_order_sum / num_orders, 2)   # rounding it to 2 decimal points
average_order_price

18.81

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [40]:
distinct_items = set([row[2] for row in data])
distinct_items

{'6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos'}

In [42]:
soda_orders = []
for row in data:
    if 'Canned' in row[2]:
        soda_orders.append(row)
soda_orders[0:5]

[['9', '2', 'Canned Soda', '[Sprite]', '$2.18 '],
 ['14', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['23', '2', 'Canned Soda', '[Mountain Dew]', '$2.18 '],
 ['24', '1', 'Canned Soda', '[Sprite]', '$1.09 '],
 ['47', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 ']]

In [46]:
soda_orders = [row for row in data if 'Canned' in row[2]]
#soda_orders = [row for row in data if 'Canned Soda' in row[2] or 'Canned Soft Drink' in row[2]]
#soda_orders = [row for row in data if 'Canned Soda' == row[2] or 'Canned Soft Drink' == row[2]]
soda_orders[0:5]

[['9', '2', 'Canned Soda', '[Sprite]', '$2.18 '],
 ['14', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['23', '2', 'Canned Soda', '[Mountain Dew]', '$2.18 '],
 ['24', '1', 'Canned Soda', '[Sprite]', '$1.09 '],
 ['47', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 ']]

In [47]:
sodas = [row[3] for row in data if 'Canned' in row[2]]
sodas[0:5]

['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Sprite]', '[Dr. Pepper]']

In [49]:
sodas[0][0]
print(sodas[0])

[Sprite]

In [52]:
print(type(sodas[0]))
print(len(sodas[0]))

<class 'str'>
8

In [54]:
sodas = [row[3][1:-1] for row in data if 'Canned' in row[2]]
sodas[0:5]

['Sprite', 'Dr. Pepper', 'Mountain Dew', 'Sprite', 'Dr. Pepper']

In [55]:
unique_sodas = set([row[3][1:-1] for row in data if 'Canned' in row[2]])   # Success in one line of code!
unique_sodas

{'Coca Cola',
 'Coke',
 'Diet Coke',
 'Diet Dr. Pepper',
 'Dr. Pepper',
 'Lemonade',
 'Mountain Dew',
 'Nestea',
 'Sprite'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [72]:
#Approach 1
burrito_count = 0
topping_count = 0
for row in data:
    if 'Burrito' in row[2]:
        burrito_count += 1
        topping_count += (row[3].count(',') + 1) #explaination below
print(burrito_count)
print(topping_count)

round(topping_count / float(burrito_count), 2)

1172
6323

5.4

In [65]:
data[7]

['4',
 '1',
 'Steak Burrito',
 '[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]',
 '$11.75 ']

In [66]:
data[7][3]

'[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]'

In [67]:
data[7][3].count(',')

7

In [ ]:
#7 commas meaning 8 topping (I revised the initial loop)

In [70]:
#Approach 2
burrito_count = sum(1 for row in data if 'Burrito' in row[2])
topping_count = sum([row[3].count(',') + 1 for row in data if 'Burrito' in row[2]])
round(topping_count / float(burrito_count), 2)

5.4

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [79]:
chips = {}

# if chip order is not in dictionary, then add a new key/value pair
# if chip order is already in dictionary, then update the value for that key
for row in data:
    if 'Chips' in row[2]:
        if row[2] not in chips:
            chips[row[2]] = int(row[1])     # this is a new key, so create key/value pair
        else:
            chips[row[2]] += int(row[1])    # this is an existing key, so add to the value

chips

{'Chips and Fresh Tomato Salsa': 130,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Side of Chips': 110,
 'Chips and Guacamole': 506,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips': 230,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Chips and Mild Fresh Tomato Salsa': 1}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!